<footer class="site-footer">
  <div class="row">
    <div class="medium-4 columns footerLeft">
      <span class="copyright noSelect"> 62-633 F'17 SNWG</span>
    </div>

    <div class="medium-4 columns footerCenter">
      <a class="link" target="_blank" href="http://tech.soa.cmu.edu">tech.soa</a>
    </div>

    <div class="medium-4 columns footerRight">
      <span class="fa-stack fa-1x">
        <i class="fa fa-pencil fa-stack-1x"></i>
      </span>
      with
      <span class="fa-stack fa-1x">
        <i class="fa fa-heart fa-stack-1x"></i>
      </span>
      by &nbsp;
      <a target="_blank" href="http://rehanbutt.com"><img class="rehanLogo" src="{{"/img/rehanLogo.svg" | prepend: site.baseurl }}"></a>
    </div>
  </div>
</footer>