<header class="site-header">

  <div class="row">
    <div class="site-title small-4 large-3 small-centered large-centered columns">
      <a href="{{ site.baseurl }}/"><img class="logo" src="{{"/img/logo.svg" | prepend: site.baseurl }}"></a>
    </div>

    <nav class="nav-bar small-8 large-10 columns">
<!--      <div class="trigger">-->
<!--
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
-->
<!--      </div>-->
    </nav>

  </div>

</header>
